<h1>Contacts</h1>
<p>Find me in app/views/pages/contact.html.erb</p>
<p><%= number_to_phone "0502424490" %></p>
<p><%= number_to_currency "1234" %></p>
<p><%= number_to_percentage "12.34" %></p>
<p><%= number_with_delimiter "435215123718719" %></p>
